
<!-- This is header in case of mobile -->
<div class="h-full md:hidden">
  <div class="flex justify-between items-center px-4 h-full">
    <div class="flex justify-start items-center gap-2 lg:mx-12">
      <a class="flex justify-center gap-1 text-lg" routerLink="/">
        <mat-icon class="material-icons-outlined">home</mat-icon>
        Dareecha
      </a>
    </div>
    <button (click)="toggleMenu()">
      <mat-icon class="material-icons-outlined">menu</mat-icon>
    </button>
  </div>
</div>

<!-- This is Side-bar in case of mobile -->

@if(isMenuOpen){
<div class="fixed h-full top-0 right-0 z-50" (click)="toggleMenu()">
  <div class="bg-primary text-white w-1/2 h-full right-0 fixed shadow-lg py-6 px-4 slide-in" (click)="$event.stopPropagation()">
    <button (click)="toggleMenu()" class="absolute top-4 right-4">
      <mat-icon class="material-icons-outlined">close</mat-icon>
    </button>
    <div class="flex flex-col items-start space-y-4 mt-12">
      @for(item of menuItems; track $index){
      <div class="flex justify-center items-center gap-2">
        <a class="flex justify-center items-center gap-2" [routerLink]="item.route">
          <mat-icon class="material-icons-outlined">{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>
      </div>
      }
    </div>
  </div>
</div>
}

<!-- This is Side-bar in case of desktop -->


<div class="hidden md:block">
  <div class="flex flex-col gap-6 items-center justify-start py-5">
    @if((user$ | async)?.picture?.url){
      <img [src]="(user$ | async)?.picture?.url" class="mr-4 w-20 h-20 rounded-full object-cover">
    } @else {
      <div class="mx-auto">
        <span class="icon-user-circle text-8xl mr-4"></span>
      </div>
    }
    <div class="w-full px-6 flex justify-start items-center gap-2 lg:mx-12">
      <a class="flex justify-center items-center gap-2" routerLink="/">
        <mat-icon class="material-icons-outlined">home</mat-icon>
        Dareecha
      </a>
    </div>
    @for(item of menuItems; track $index){
      <div class="w-full px-6 flex justify-start items-center gap-2 lg:mx-12">
        <a class="flex justify-center items-center gap-2" [routerLink]="item.route" (click)="item.label === 'Logout' ? logout($event) : null">
          <mat-icon class="material-icons-outlined">{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>
      </div>
      }
  </div>
</div>
