<div class="mb-2 aspect-[2.5/3] bg-stroke rounded-2xl pb-2">
  <img [src]="CLOUD_FRONT_URL + note?.CoverImage?.Url" class="h-full w-full object-cover rounded-2xl" [alt]="note?.CoverImage?.Title" />
  <div class="p-2">
    <p>{{ note?.Title }}</p>
    <div class="flex gap-1 mb-1">
      <p>{{ note?.Grade }}</p>
      <p>{{ note?.Subject }}</p>
    </div>
    <div class="flex justify-between px-2">
      <app-button label="View" iconClass="icon-download" />
      <div class="bg-primary rounded-full px-6 py-1 cursor-pointer flex justify-center items-center gap-1">
        <span class="icon icon-download"></span>
        <button class="cursor-pointer" (click)="onDownlaodButtonClick()">Download</button>
      </div>
    </div>
  </div>
</div>
