<div class="flex items-start mb-2">
  <h3 class="font-bold mr-1">{{ index + 1 }}.</h3>
  <p>{{ question?.statement }}</p>
</div>

<div class="grid md:grid-cols-2 gap-2">
  @for(option of question?.options; track $index){
    <div class="flex">
        <input type="radio" [name]="question?.id" [id]="option?.optionId" [value]="option?.optionId" (change)="onAnswerSelect(option)" />
        <label [for]="option?.optionId" class="cursor-pointer ml-2"> {{ option?.optionId }}. {{ option?.text }} </label>
    </div>
  }
</div>
