@import 'tailwindcss';
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: #f8f5f2;
  color: black;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-stroke: #232323;
  --color-main: #ffffff;
  --color-primary: #078080;
  --color-secondary: #f45d48;
  --color-tertiary: #f8f5f2;
}

input,
textarea,
select {
  box-sizing: border-box;
  display: inline-block;
}

select:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #232323;
}

button {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
label {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #1e293b;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 18px;
}


input[type='date'],
input[type='text'],
input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='radio']:checked + label {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.hot-toast-bar-base {
  min-width: 400px !important;
}


input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}


/* To control font size, spacing, etc.:

.hot-toast-message {
  font-size: 14px;
  padding: 8px 12px;
}

.hot-toast-icon {
  margin-right: 8px;
} */
